services:

  nginx:
    build:
      context: .
      dockerfile: frontend/Nginx/Dockerfile
    ports:
      - "8080:8080"
      - "3042:3042"
    networks:
      - trascendence
    restart: always
    volumes:
      - frontend_data:/usr/share/nginx/html
    depends_on:
      - backend
      - tournament
  tournament:
    depends_on:
      - postgres
    container_name: tournament
    build: ./tournament/
    image: tournament
    volumes:
      - tournament_data:/app
    expose:
      - "8001"
    env_file:
      - .env
    networks:
      - trascendence
    restart: always

  backend:
    depends_on:
      - postgres
    container_name: backend
    build: ./backend/
    image: backend
    volumes:
      - django_data:/app
    expose:
      - "8000"
    env_file:
      - .env
    networks:
      - trascendence
    restart: always

  postgres:
    restart: always
    build: ./postgres
    image: postgres
    container_name: postgres
    env_file:
      - .env
    expose:
      - "5432"
    networks:
      - trascendence
    volumes:
      - postgres_data:/var/lib/postgresql/data/

volumes:
  postgres_data:
    driver: local
    driver_opts:
      type: none
      device: "./postgres/res"
      o: bind
  django_data:
    driver: local
    driver_opts:
      type: none
      device: "./backend"
      o: bind
  frontend_data:
    driver: local
    driver_opts:
      type: none
      device: "./frontend"
      o: bind
  tournament_data:
    driver: local
    driver_opts:
      type: none
      device: "./tournament"
      o: bind

networks:
  trascendence:
    name: trascendence
    driver: bridge
