{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static "css/styles.css" %}">
	<title>Document</title>
</head>
<body></body>
	<button id="connectButton">Connect to API</button>
    <script>
         document.getElementById('connectButton').addEventListener('click', function() {
            window.location.href = '/login_42';
        });

        // Check if we have a code in the URL
        const urlParams = new URLSearchParams(window.location.search);
        const code = urlParams.get('code');
        if (code) {
            fetch(`/callback_42?code=${code}`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok ' + response.statusText);
                    }
                    return response.json();
                })
                .then(data => {
                    console.log(data);
                    // Handle the data from the API here
                    localStorage.setItem('access_token', data.access_token);
                    localStorage.setItem('refresh_token', data.refresh_token);
                    console.log('User Info:', data.user_info);
                })
                .catch(error => {
                    console.error('There was a problem with the fetch operation:', error);
                });
        }
    </script>
</body>
</html>

