body{
	font-family: 'Press Start 2P' !important;	
}

.nav_bar {
	font-size: 30px;
	position: relative;
	z-index: 1;
}

.navbar-brand {
	font-family: 'Press Start 2P';
	font-size: 55px;
	font-weight: 900;
	margin-left: 100px;
}

.hidden {
	display: none;
}

.visible {
	display: block;
}

/* .navbar-brand{
	transform: translateX(-250px);
} */
.gradient-text {
	background: linear-gradient(45deg, #7a4141, #5f3c48, #964ea8, #694dbd, #546ed6, #3c698d, #22b8cf, #3f8a73, #51cf66, #87a854, #e0bc4f, #f19d4e);
	background-size: 200% 200%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	animation: gradient-animation 5s ease infinite;
}

@keyframes gradient-animation {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

#spantitle {
	font-weight: 300;
	font-size: 45px;
}

.page_container {
	border: sp;
	;
	display: grid;
	width: 100%;
	height: 100%;
	grid-template-rows: 1fr 15fr 1%;
}

.app {
	background-color: #2b3339;
	grid-template-columns: 1.5fr 8.5fr;
}

.app .containerfluid {
	display: grid !important;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}

.app .bar_nav_flex {
	background-color: #2b3339;
	border: 1px solid rgb(0, 0, 0);
	box-shadow: inline 5px 5px 10px rgba(0, 0, 0, 0.7);
	justify-content: center;
	align-items: flex-start;
	display: flex;
	gap: 80px;
}

.app .bar_nav {
	margin: 50px;
	display: grid;
	gap: 80px;
}

.app .content_nav {
	border: 2px solid black;
	background-color: black;
}

.footer {
	background-color: rgb(117, 11, 216) !important;
	color: white !important;
	text-align: center;
	padding: 0 !important;
	position: sticky;
	bottom: 0;
	width: 100%;
	border: 1px solid black;
}

.container {
	height: 8px;
}

.footer .text-muted {
	padding-bottom: 5px !important;
	color: #ffffff !important;
}

.table-container {
	font-size: 30px;
	max-height: 90vh;
	overflow-y: auto !important;
	padding-bottom: 20px;
}

.form_div {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}

@keyframes borderColorChange {
	0% {
		border-color: rgb(117, 11, 216);
	}

	25% {
		border-color: rgb(255, 0, 0);
	}

	50% {
		border-color: rgb(0, 255, 0);
	}

	75% {
		border-color: rgb(0, 0, 255);
	}

	100% {
		border-color: rgb(117, 11, 216);
	}
}

.form_container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 550px;
	height: 700px;
	border: 20px solid rgb(117, 11, 216);
	border-radius: 75px;
	animation: borderColorChange 5s infinite;
	/* Apply the animation */
}

.mb-3 {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.form-label {
	color: white !important;
	font-size: 30px;
	width: 100%;
}

.form_separator {
	color: white !important;
}

/* .btn-with-bg {
 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center;
} */

button:hover {
	background: #bdcdf0;
	/* Azul más oscuro */
	transform: translateY(-2px);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.btn-primary,
.btn-secondary {
	width: 100%;
}

.btn,
.btn-primary {
	font-weight: 900;
}

.containerfluid {
	height: 600px;
	width: 400px;
	display: grid !important;
	place-items: center !important;
	background-color: black !important;
}

.otp-field {
	flex-direction: row;
	column-gap: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.otp-field input {
	height: 45px;
	width: 150px;
	border-radius: 6px;
	outline: none;
	font-size: 1.125rem;
	text-align: center;
	border: 1px solid #ddd;
	font-weight: 700;
}

.otp-field input:focus {
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.otp-field input::-webkit-inner-spin-button,
.otp-field input::-webkit-outer-spin-button {
	display: none;
}

.resend {
	font-size: 12px;
}

@media (max-width: 1230px) {
	#spantitle {
		font-weight: 300;
		font-size: 25px;
	}

	.nav_bar {
		font-size: 15px;
		position: relative;
		z-index: 1;
	}

	.gradient-text {
		font-size: 30px;
		margin-left: 25px;
	}

	/* tournament css*/

	#final-view {
		text-align: center;
		padding: 20px;
	}

	h2, h1 {
		text-align: center;
		color: #334155;
		/* Azul grisáceo oscuro */
		margin-bottom: 1rem;
	}
	.round h3 {
		font-size: 1.5rem;
		color: #1e3a8a; /* Azul fuerte */
		margin-bottom: 1rem;
	}
	label {
		display: block;
		text-align: left; /* Opcional: Cambia el texto a alineación izquierda */
		margin-bottom: 5px;
		font-size: 1rem;
		color: #475569; /* Gris moderado */
	}
	input {
		padding: 10px;
		border: 1px solid #cbd5e1; /* Gris claro */
		border-radius: 8px;
		width: 100%; /* Asegura que el input use todo el ancho disponible */
		margin-bottom: 15px;
		font-size: 1rem;
		background-color: #f1f5f9; /* Fondo gris claro */
		color: #334155;
	}
}